

<input type="text" [(ngModel)]="filteredStatus" class="form-control">
<button class="btn btn-default" (click)="onAddTodo()">Add New Todo</button>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos | filter : filteredStatus : 'status'"> 
    {{ todo.label }}
    <span class="badge"> {{ todo.status }}</span>
  </li>


</ul>


<h2>Promise Obj : {{ promiseObj | async | uppercase }}</h2>

<!-- {{ msg }} -->

<h3> Contact Number  : {{ contact_no | nationalcode : 'US'}} </h3>


